# Remplacer par l'IP de l'EC2 Observabilité
LOKI_URL=http://<IP_EC2_OBSERVABILITE>:3100
PROMETHEUS_URL=http://<IP_EC2_OBSERVABILITE>:9090
AWS_REGION=eu-west-1

# Remplir uniquement en cas d'utilisation d'un Agent Bedrock Officiel (bedrock-agent-runtime)
BEDROCK_AGENT_ID=
BEDROCK_AGENT_ALIAS_ID=

# Vos identifiants AWS (Si non attachés par un Role IAM à l'EC2)
AWS_ACCESS_KEY_ID=votre_access_key
AWS_SECRET_ACCESS_KEY=votre_secret_key
